.footer {
    background-color: #000;

    padding: 108px 0;

    .container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

}

.footer__logo-title {
    text-align: center;
    font-size: 46px;
    color: #fff;
    font-weight: 800;
    margin-bottom: 6px;
    display: block;
}

.footer__logo-sub {
    text-align: center;
    display: block;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    display: block;
}
.footer__logo{
    display: inline-block
 
}

@media only screen and (max-width: 1360px) {
    .footer__logo-title {
        font-size: 36px;
    }

    .footer__logo-sub {
        font-size: 14px;
    }
}

@media only screen and (max-width: 760px) {
    .footer {
        padding: 25px 0;
    }

    .footer__logo-title {
        font-size: 28px;
    }

    .footer__logo-sub {
        font-size: 12px;
    }
}