.header {
	position: relative;
}

.header__top-bar {
	background: #000;
	padding: 14px 0;

	.container {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
}

.top-bar__contribute {
	display: inline-block;
	padding: 12px 0;
	background: #FF1F1F;
	border: solid 1px #fff;
	font-weight: 700;
	color: #fff;
	font-size: 16px;
	width: 188px;
	text-align: center;
}

.header__down-bar {
	padding-top: 35px;

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.header__logo {
	display: block;
}

.header__logo-title {
	font-size: 46px;
	color: $white;
	font-weight: 800;
	line-height: 1;
}

.header__logo-sub {
	display: block;
	font-size: 17px;
	color: $white;
	margin-top: 6px;
	line-height: 1;
}

.header__nav {
	display: flex;
	align-items: center;
}

.header__nav-list {
	display: flex;
	align-items: center;

	li {
		font-size: 16px;
		margin-right: 50px;
		font-weight: 500;
	}

	a {
		color: $white;
	}
}

.header__search {
	display: flex;
	align-items: center;
}

.header__search-label {
	display: block;
	width: 2px;
	height: 16px;
	background: $white;
	margin-right: 40px;
}

.header__search-text {
	font-size: 16px;
	margin-right: 20px;
	font-weight: 500;
	color: #fff;
}

.header__search-input {
	border: solid 1px #212121;
	background: #fff;
	width: 205px;
	font-size: 16px;
	color: #212121;
	padding: 12px 16px;
}

.header__search-btn {
	width: 106px;
	text-align: center;
	font-size: 16px;
	font-weight: 800;
	background: #FF1F1F;
	padding: 12px 0;
	color: #fff;
	text-transform: uppercase;
}