.news-intro {
	padding: 155px 0;
}

.news-intro__layout {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.news-intro__left {
	width: 440px;
}

.news-intro__title {
	font-size: 60px;
	font-weight: 700;
	color: #fff;
	margin-bottom: 17px;
	line-height: 1.2;
}

.news-intro__line {
	width: 80px;
	height: 3px;
	background: #D3D3D3;
}

.news-intro__subtitle {
	margin-top: 34px;
}

.news-intro__featured {
	width: 1300px;
	background: #585858;
	padding: 40px 40px 50px 70px;
}

.news-intro__featured-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: solid 3px #D3D3D3;
	padding-bottom: 4px;
	margin-bottom: 34px;
}

.news-intro__featured-label {
	font-size: 17px;
	font-weight: 500;
	color: #fff;
	line-height: 1.3;
	text-transform: uppercase;
}

.news-intro__featured-pagination {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: relative !important;
	width: auto !important;
	bottom: auto !important;
	left: auto !important;
	top: auto !important;
}

.news-intro-featured-bullet {
	width: 10px !important;
	height: 10px !important;
	border-radius: 10px !important;
	display: inline-block;
	background: #707070 !important;
	margin: 0 0 0 8px !important;
	opacity: 1 !important;
	padding: 0 !important;
	border: none !important;
	box-shadow: none !important;
	cursor: pointer;
}

.news-intro-featured-bullet--active {
	background: $accent !important;
}

.news-intro-featured-slider {
	overflow: hidden;
}

.news-intro-featured-slider .swiper-slide {
	height: auto;
}

.news-intro__featured-title {
	font-size: 66px;
	font-style: italic;
	font-weight: 700;
	color: #fff;
	line-height: 1.2;
	margin-bottom: 45px;
}

.news-intro__featured-text {
	font-size: 17px;
	line-height: 27px;
	color: #fff;
	margin-bottom: 30px;
}

.news-intro__featured-link {
	font-size: 16px;
	line-height: 1;
	color: #fff;
	font-weight: 700;
	transition: all ease 0.3s;
	text-transform: uppercase;

	&:hover {
		color: $accent;
		transition: all ease 0.3s;
	}
}

.news-filter {
	padding-bottom: 85px;
}

.news-filter__layout {
	background: #585858;
	padding: 45px;
}

.news-filter__label {
	font-size: 25px;
	line-height: 37px;
	border-bottom: solid 3px #D3D3D3;
	display: block;
	width: 100%;
	text-transform: uppercase;
	padding-bottom: 4px;
	margin-bottom: 40px;
}

.news-filter__layout-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.news-filter__selects {
	display: flex;
}

.news-filter__select {
	width: 295px;
	margin-right: 23px;
	padding: 12px 44px 12px 20px;
	border: 1px solid #000;
	border-radius: 0;
	font-size: 16px;
	font-weight: 500;
	color: #000;
	text-transform: uppercase;
	cursor: pointer;
	background-color: #fff;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='7' viewBox='0 0 10 7'%3E%3Cpath fill='%23000' d='M0 0h10L5 7z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: right 18px center;
	background-size: 10px 7px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.news-filter__select::-ms-expand {
	display: none;
}

.news-filter__select:focus {
	outline: none;
	border-color: #000;
	box-shadow: 0 0 0 1px #000;
}



.news-grid-section {
	padding-bottom: 120px;
}

.news-filter__search {
	display: flex;
	align-items: center;
}

.news-filter__search-label {
	font-size: 16px;
	line-height: 1;
	color: #fff;
	font-weight: 500;
	margin-right: 20px;
	text-transform: uppercase;
}

.news-filter__search-input {
	width: 374px;
	background: #fff;
	padding: 12px 20px;
	border: solid 1px #55768E;
	font-size: 16px;
	font-weight: 500;
	color: #000;
	text-transform: uppercase;
}

.news-filter__search-btn {
	width: 106px;
	background: #D3D3D3;
	text-align: center;
	padding: 12px 0;
	border: solid 1px #000;
	font-size: 16px;
	font-weight: 500;
	color: #212121;
	text-transform: uppercase;
	transition: all ease 0.3s;

	&:hover {
		background: $accent;
		color: #fff;
		transition: all ease 0.3s;
	}
}

.news-grid {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 120px;
	row-gap: 120px;
}

.news-card {}

.news-card__image {
	height: 285px;
	width: 100%;

	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.news-card__body {
	margin-top: 25px;
}

.news-card__tag {
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	display: block;
	margin-bottom: 14px;
}

.news-card__title {
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 29px;
	line-height: 1.2;

	a {
		color: #fff;
		transition: all ease 0.3s;

		&:hover {
			color: $accent;
			transition: all ease 0.3s;
		}
	}
}

.news-card__text {
	font-size: 17px;
	line-height: 27px;
	color: #fff;

	margin-bottom: 32px;
}

.news-card__link {
	display: inline-block;
	position: relative;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	transition: all ease 0.3s;

	&:hover {
		color: $accent;
		transition: all ease 0.3s;
	}

	&::before {
		width: 21px;
		height: 3px;
		background: #B1CBC4;
		position: absolute;
		content: "";
		left: 0;
		top: -15px;
	}
}


@media only screen and (max-width: 1800px) {
	.news-intro__featured {
		width: calc(100% - 300px - 50px);
	}

	.news-intro__left {
		width: 300px;
	}

	.news-intro__title {
		font-size: 55px;
	}

	.news-intro__featured {
		padding: 40px;
	}

	.news-intro__featured-title {
		font-size: 60px;
	}

	.news-intro {
		padding: 130px 0;
	}

	.news-grid {
		gap: 80px;
		row-gap: 80px;
	}
}

@media only screen and (max-width: 1580px) {
	.news-intro__featured-title {
		font-size: 55px;
	}

	.news-filter__search-input {
		width: 300px;
	}
	.news-intro{
		padding-top: 100px;
		padding-bottom: 100px;
	}
}

@media only screen and (max-width: 1360px) {
	.news-intro__title {
		font-size: 45px;
	}

	.news-intro {
		padding-top: 150px;
		padding-bottom: 100px;
	}

	.news-intro__featured-label {
		font-size: 17px;
	}

	.news-intro__featured-title {
		font-size: 45px;
	}

	.news-intro__featured {
		width: calc(100% - 300px);
		padding: 35px;
	}

	.news-filter__search-label {
		display: none;
	}

	.news-filter__select {
		width: 250px;
	}

	.news-filter__layout {
		padding: 35px;
	}

	.news-filter {
		padding-bottom: 60px;
	}

	.news-grid {
		grid-template-columns: repeat(2, 1fr);
		gap: 60px;
		row-gap: 60px;
	}
}

@media only screen and (max-width: 1140px) {
	.news-intro__featured-title {
		font-size: 40px;
	}

	.news-intro__title {
		font-size: 40xp;
	}

	.news-filter__label {
		margin-bottom: 20px;
	}

	.news-filter__layout-row {
		flex-wrap: wrap;
	}

	.news-filter__select {
		width: calc(50% - 15px);
		margin: 0;
	}

	.news-filter__selects {
		width: 100%;
		justify-content: space-between;
		margin: 0 0 30px 0;
	}

	.news-filter__search {
		width: 100%;
	}

	.news-filter__search-input {
		width: 65%;
	}

	.news-filter__search-btn {
		width: 35%;
	}

	.news-card__title {
		font-size: 30px;
	}

	.news-intro__title {
		font-size: 40px;
	}
}

@media only screen and (max-width: 920px) {
	.news-intro__layout {
		flex-wrap: wrap;
	}

	.news-intro__left {
		width: 100%;
	}

	.news-intro__title {
		text-align: center;

		span {
			display: none;
		}
	}

	.news-intro__line {
		margin: 0 auto;
	}

	.news-intro__subtitle {
		text-align: center;
	}

	.news-intro__featured {
		width: 100%;
		margin-top: 50px;
	}

	.news-intro__featured-label {
		font-size: 17px;
	}

	.news-intro__featured-header {
		margin-bottom: 20px;
	}

	.news-intro__featured-title {
		font-size: 35px;
		margin-bottom: 20px;
	}

	.news-intro__featured-text {
		font-size: 16px;
	}

	.news-intro {
		padding-bottom: 40px;
	}

	.news-filter__label {
		font-size: 20px;
	}

	.news-card__text {
		font-size: 15px;
	}

	.news-card__image {
		height: 250px;
	}

	.news-grid {
		gap: 50px;
		row-gap: 50px;
	}

	.news-grid-section {
		padding-bottom: 80px;
	}
}

@media only screen and (max-width: 760px) {
	.news-intro {
		padding: 120px 0 40px;
	}

	.news-intro__title {
		font-size: 32px;

		span {
			display: none;
		}
	}

	.news-intro__line {
		width: 50px;
	}

	.news-intro__subtitle {
		margin-top: 20px;
	}

	.news-intro__featured {
		margin-top: 50px;
		padding: 20px;
	}

	.news-intro__featured-label {
		font-size: 16px;
	}

	.news-intro__featured-title {
		font-size: 26px;
	}

	.news-intro__featured-text {
		font-size: 14px;
		line-height: 1.3;
		margin-bottom: 25px;
	}

	.news-intro__featured-link {
		font-size: 14px;
	}

	.news-filter__layout {
		padding: 20px;
	}

	.news-filter__label {
		font-size: 18px;
	}

	.news-filter__selects {
		flex-wrap: wrap;
	}

	.news-filter__select {
		width: 100%;
		margin-bottom: 10px;
		padding: 12px;
		font-size: 14px;
	}

	.news-filter__selects {
		margin-bottom: 0;
	}

	.news-filter__search-input {
		padding: 12px;
		font-size: 14px;
	}

	.news-filter__search-btn {
		padding: 12px;
		font-size: 14px;
	}

	.news-grid {
		grid-template-columns: 1fr;
		gap: 40px;
		row-gap: 40px;
	}

	.news-card__image {
		height: 220px;
	}

	.news-card__title {
		font-size: 24px;
		margin-bottom: 15px;
	}

	.news-card__text {
		font-size: 14px;
	}

	.news-card__tag {
		font-size: 13px;
	}

	.news-card__link {
		font-size: 14px;
	}
}