.wp-editor {
    p {
        font-size: 17px;
        line-height: 27px;
        margin-bottom: 30px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 25px;
        font-weight: 500;
        color: #fff;
        line-height: 1.3;
        margin-bottom: 20px;
        font-family: $mainFont;
        font-weight: 700;
        text-transform: uppercase;
    }

    strong,
    b {
        font-weight: 600;
    }

    ul {
        margin-bottom: 30px;

        li {
            font-size: 17px;
            line-height: 27px;
            color: #fff;
            margin-bottom: 10px;
            list-style-type: circle;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    a {
        color: #fff;
        transition: all ease 0.3s;
        text-decoration: underline;

        &:hover {
            color: $accent;
            transition: all ease 0.3s;
        }
    }

    img {
        max-width: 100%;
        display: block;
        height: auto;

        &.aligncenter {
            margin: 0 auto;
        }
    }
}


@media only screen and (max-width: 760px) {
    .wp-editor {
        p {
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 25px;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-size: 20px;
            margin-bottom: 15px;
            line-height: 1.3;
        }

        ul {
            margin-bottom: 20px;

            li {
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 8px;
            }
        }
    }


}